.PhoneInput .PhoneInputInput{
    border: none;
}

@media(min-width: 320px) and (max-width: 768px  ) {
    .mt--8 .justify-content-center .col-md-7{
        padding-top: 30px;
        margin: auto;
    }
}

@media(min-width: 414px)and (max-width: 768px  ) {
    .mt--8 .justify-content-center .col-md-7{
        width: 360px ;
        padding-top: 30px ;
        margin: auto ;
    }
}


@media(min-width: 769px) and (max-width: 1024px  ) {
    .mt--8 .justify-content-center .col-md-7{
        width: 450px !important ;
        padding-top: 30px ;
        margin: auto ;
    }
}



@media(min-width: 1200px ) {
    .mt--8 .justify-content-center .col-md-7{
        margin-top: 20px;
        padding-left: 70px !important;
        padding-right: 70px !important;
    }
}