@media (min-width: 320px) and (max-width: 768px) {
    .header-custom-search .MuiButtonBase-root {
        display: none;
    }

    .MuiModal-root .form-add-address {
        width: 80%;
    }
    .MuiModal-root .form-add-product {
        width: 90%;
    }
}

@media (min-width: 0px) and (max-width: 320px) {
    .header-custom-search .MuiButtonBase-root {
        display: none;
    }
    .MuiModal-root .form-add-address {
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header-custom-search .MuiBox-root {
        display: none;
    }

    .header-custom-search .MuiButtonBase-root {
        width: 40%;
    }

    .MuiModal-root .form-add-product {
        width: 90%;
        top: 50%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .header-custom-search .MuiBox-root {
        display: none;
    }

    .header-custom-search .MuiButtonBase-root {
        width: 25%;
    }

    .MuiModal-root .form-add-product {
        width: 80%;
        top: 50%;
    }
}

@media (min-width: 1200px) {
    .header-custom-search .MuiBox-root {
        display: none;
    }

    .header-custom-search .MuiButtonBase-root {
        width: 20%;
    }

    .MuiModal-root .form-add-product {
        width: 90%;
        /* height: 90%; */
    }
    .MuiModal-root .form-add-address {
        width: 30%;
    }
}
