.wrapper-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:10px;
}

.detail-name{
  width: 30%;
}
.detail-price{
  width: 15%;
}
.detail-month{
  width: 5%;
}
.detail-time{
  width: 25%;
}